.img-container {
    display: inline-block;
}

.pop-up {
    position: fixed;
}

.onoffswitch {
    position: relative; width: 57px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #FFFFFF; 
    border-radius: 16px;
    width: 40px;
    margin: 0 auto;
}
.onoffswitch-inner, 
.offswitch {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, 
.onoffswitch-inner:after,
.offswitch:before, 
.offswitch:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 20px; 
    padding: 0; 
    line-height: 20px;
    font-size: 15px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before,
.offswitch:before {
    content: "off";
    padding-left: 11px;
    background-color:#F5001D;
    color: #FFFFFF;
}
.offswitch:before {
    content: "on";
    padding-right: 11px;
    background-color: #22BF2D;
}
.onoffswitch-inner:after,
.offswitch:after {
    content: "on";
    padding-right: 11px;
    background-color: #22BF2D;
    color: #FFFFFF;
    text-align: right;
}
.offswitch:after {
    content: "off";
    padding-left: 11px;
    background-color:#F5001D;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .offswitch {
    margin-left: 0;
}


.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .offswitch {
    right: 0px; 
}


